
.paneltrabajo
{
    margin-top: 20px;
    width: 730px;
    float: left;
    font-size: 15px;
    color: darkslategray;
}

.tabladirector
{
    margin-top: 20px;
    width: 100%;
}

.menuizqroles
{
    float : left;
    margin-top: 20px;
}

.barraacciones
{
  width: 100%;
}

.txtareaform
{
  margin-top: 10px;
  width:  600px;
}

.inputform
{
  width:  350px;
}

.panelinterno
{
  width:  670px;
}

.panelinterno tr , .panelinterno td
{
  border-color:  darkred !important;
  border-radius: 25px;
  padding: 15px 10px !important;
}

.titulotabla
{
    color: #045491;
    font-weight:  bold;
    width: 300px;
}

.menubarstyleClass {
    width: 100%;
    background-color: white; 
    border-color: white;
}
.menubarstyleClass li {
    background-color: whitesmoke; 
    border-color: black;
}