.paneltrabajo
{
    margin-top: 20px;
    margin-left: 8px;
    width: 730px;
    float: left;
    font-size: 15px;
    color: darkslategray;
    background: honeydew;
    
}

body
{
    background: whitesmoke;
}

.tabladirector
{
    margin-top: 20px;
    width: 100%;
}

.menuizqroles
{
    float : left;
    margin-top: 20px;
    background-color: azure;
}

.barraacciones
{
  width: 100%;
}

.txtareaform
{
  margin-top: 10px;
  width:  600px;
}

.inputform
{
  width:  350px;
}

.panelinterno
{
  width:  670px;
}

.panelinterno tr , .panelinterno td
{
    border-style: none !important;
    border-color: gray;
}

.titulotabla
{
    color: #045491;
    font-weight:  bold;
    width: 300px;
}

.subtitulosFormato
{
    font-weight:  bold;
}

.menubarstyleClass {
    width: 100%;
    background-color: white; 
    border-color: white;
}
.menubarstyleClass li {
    background-color: whitesmoke; 
    border-color: #808080;
}