
.paneltrabajo
{
    margin-top: 5px;
    width: 730px;
    float: left;
}

.tabladirector
{
    margin-top: 20px;
    width: 100%;
}

.menuizqroles
{
    float : left;
    margin-top: 5px;
}

.barraacciones
{
  width: 100%;
}